--swiftversion 6.0
--indent 4
--indentcase false
--trimwhitespace always
--stripunusedargs closure-only
--maxwidth 120
--wraparguments before-first
--wrapcollections before-first
--exclude .build,Packages
